/**
*** U Can Slide Forever, a UCSF theme for Quarto + reveal.js.
*** Author: Yea-Hung Chen
**/



/*-- scss:defaults --*/

/********* define fonts *********/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
$font-family-sans-serif: Lato, sans-serif !default;

/********* define colors *********/

$ucsf-text: #5a6d74;
$ucsf-header: #0F388A;
$ucsf-accent: #0079C1;
$ucsf-white: #ffffff;
$ucsf-navy: #052049;
$ucsf-magenta: #C42882;

$body-color: $ucsf-text !default;
$presentation-heading-color: $ucsf-header !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-font-weight: normal !default;
$body-bg: $ucsf-white !default;
$link-color: $ucsf-navy !default;
$selection-bg: $ucsf-magenta !default;
$overlayElementBgColor: 0, 0, 0 !default;
$overlayElementFgColor: 240, 240, 240 !default;
$code-block-border-color: #93a1a1 !default;



/*-- scss:rules --*/

/********* basic text markup *********/

/*-- define accent text --*/
.reveal strong {
    color: $ucsf-accent;
	font-weight: normal;
}

/*-- add underline to links --*/
.reveal a, a:hover {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

/********* title slide *********/

/*-- change <h1> font size on title slide --*/
.reveal h1.title {
    font-size: 2em; 
}

/*-- style subtitle on title slide --*/
.reveal p.subtitle {
    color: $ucsf-white;
	font-style: italic;
}

/********* section slides *********/

/* change background color */
.reveal .backgrounds .slide-background.level1 {
    background-color: $ucsf-navy !important;
}

/* vertically center all content */
.reveal section.level1.slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* define color and centering for h1 */
.reveal section.level1.slide h1 {
    color: $ucsf-white !important;
    text-align: center;
}

/********* aside *********/

/*-- change color of links in aside and allow underline --*/
.reveal aside a,
.reveal aside a:hover {
	color: inherit;
	text-decoration: underline;
}

/*-- change color of code in aside --*/
.reveal aside code {
	color: inherit;
}

/********* block quotes *********/

/*-- change blockquote font color and remove padding --*/
.reveal blockquote {
	color: $ucsf-text;
	padding-top: 0;
	padding-bottom: 0;
}

/********* callouts *********/

/*-- change font size for callouts --*/
.reveal div.callout-content {
	font-size: 1.4em;
}

/*-- add margin to callouts --*/
.reveal div.callout {
	margin-top: 1em; 
} 

/*-- add margin to the first code block --*/
.reveal section h2 + div.cell {
	margin-top: 1em;
}

/********* code *********/

/*-- change color of code in <h2> --*/
.reveal h2 code {
	color: inherit;
}

/*-- change color of bold code --*/
.reveal strong code {
	color: inherit;
}

/********* focus *********/

/*-- define focused class --*/
.reveal .focus {
  text-align: center;
  width: 100%;       
  margin: auto;      
}

/********* images *********/

/*-- remove padding and margin from images --*/
.reveal img.quarto-figure {
	padding-top: 0;
	margin-bottom: 0;
}

/*-- remove bottom margin from div.quarto-figure --*/
.reveal div.quarto-figure {
	margin-bottom: 0;
}

/*-- center figure captions --*/
.reveal figcaption {
  text-align: center;
}

/*-- center text and images in layouts --*/
.quarto-layout-panel {
	text-align: center;
}

/********* slide numbers *********/

/*-- remove underline from slide numbers --*/
.reveal div.slide-number a,
.reveal div.slide-number a:hover {
	text-decoration: none;
}

/********* tables *********/

/*-- remove margins if the list is quoted --*/
.reveal blockquote ul {
	margin-bottom: 0 !important;
}
.reveal blockquote ul li {
	margin-top: 0 !important;
}

/********* tables *********/

/*-- add padding to tables --*/
.reveal table {
	margin-top: 1em;
}

/********* simplemenu extension *********/

/*-- remove underline --*/
.reveal div.menubar a,
.reveal div.menubar a:hover {
	text-decoration: none;
}

/*-- remove border from menu --*/
div#menubarbottom::before {
    border: none;
}
